*{
  margin:0;
  padding:0;
}

body{
  line-height: 1.5;
  text-align: center;
}

p{
  padding: 30px 0px;
}





#home:hover{
  transform: rotateY(20deg) rotateX(-20deg);
}
#wip:hover{
  transform: rotateX(35deg);
}
#prog:hover{
  transform: rotateY(-20deg) rotateX(-20deg);
}


@keyframes content{
  0%{
    left: -3000px;
  }
  100%{
    left: 0;
  }
}

@keyframes btn{
  0%{
    opacity:0;
  }
  100%{
    opacity: 1;
  }
}
