@import "https://fonts.googleapis.com/css?family=Lato:100";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background: white;
}

nav ul{
  margin: 0;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  background: #6ea8c4;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

h3{
  font-size: 50px;
  display: inline;
  padding: 20px 20px 0 20px;
  text-transform: : uppercase;
  letter-spacing: 2px;
  color: #6ea8c4;
}

nav ul li a{
  color: white;
}

html{
  front-size: 10px;
  font-family: "Lato", Arial, sans-serif;

}

body{
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #73528B, #5973B0,#428ABA, #25ABB6, #4FC789);
  background-size: 400% 400%;
  position: relative;
  animation: change 3s ease-in-out infinite;
}

h1{
  font-size: 3rem;
  text-transform: : uppercase;
  letter-spacing: 100%;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  padding: 25px 25px;
}

.ProjectHolder{
  margin: 0 auto;
  width: 620px;
}

.Project1{
  background-image: url("brain.png");
  width: 600px;
  height: 600px;
  float: left;
  margin: 20px;
  border-radius: 20px;
}

.Project2{
  background: #999;
  width: 600px;
  height: 600px;
  float: left;
  margin: 20px;
  border-radius: 20px;
}

.ViewButton{
  margin: 540px auto;
  width: 130px;
  height: 30px;
}

.ProjectHolder a{
  text-align: center;
  list-style-type: none;
  display: inline-block;
  background: #6ea8c4;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  color: white;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
