@import "https://fonts.googleapis.com/css?family=Lato:100";



#PageHeader{
        
  width: 100%;
  height: 10vw;
  background-color: #1F2833;
  position: sticky;
}

#PageHead{
  
  width: 100%;
  height: 5vw;
  background-color: #1F2833;
  position: sticky;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  color: white;
  background: #4a7387;
}

h3{
  font-size: 3vw;
  color: #B5B9BB;
}

::selection {
  color: white;
  background: #4a7387;
}

.container{
  max-width: 70vw;
  margin: auto;
}

.MenuHolder:hover{
  background: #4a7387;
  border-radius: 8px;
}

.MenuHolder{
  list-style-type: none;
  display: inline-block;
  background: #7DFEF0;
  color: black;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  transition-property: transform, background, border-radius;
  transition-duration: .3s;
}

.Menu{
  text-decoration: none;
  display: inline-block;
  color: black;
  font: Arial;
  font-weight: bold;
  width: 200px;
  opacity: 1;
  transition-property: transform;
  transition-duration: 1s;
}

#content{
  height: 23vw;
  width: 50vw;
  font-weight: bold;
  font-size: 1.8vw;
  position: relative;
  animation-name: content;
  animation-duration: 2s;
  top: 5vw;
  padding-bottom: 10vw;
  animation-fill-mode: forwards;
  background-color: #202833;
  border-radius: 15px 50px;
  color: #B5B9BB;
  filter: opacity(0.98);
  padding: 30px 30px;
  overflow-y: hidden;
}

.btn{
  font-size: 5vw;
  font-weight: bold;
  display: inline-block;
  color: #B5B9BB;
  text-decoration: none;
  padding: 1rem, 2rem;
  border: #B5B9BB 2px solid;
  border-radius: 0.5vw;
  max-width: 600;
  opacity: 0;
  animation-name: btn;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  transition-property: transform;
  transition-duration: 0.75s;
}

.btn:hover{
  transform: rotateX(180deg);
}

header{
  opacity: 0.95;
  background: #202833;
}

#glass{
  height: 30vw;
}

#main > ul{
  margin: 0;
}

#main > ul li{
  list-style-type: none;
  display: inline-block;
  background: #6ea8c4;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

#main > h3{
  font-size: 50px;
  display: inline;
  padding: 20px 20px 0 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #6ea8c4;
}


#main > a{
  border-radius: 6px;
}

#main > ul li a{
  color: white;
  border-radius: 6px;
}

html{
  font-size: 20px;
  font-family: "Lato", Arial, sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: url("program2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes change{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}




@media only screen and (max-width: 600px){

  .container{
    width: 100vw;
    height: 200vw;
  }

  #PageHeader{
        
    width: 100%;
    height: 20vw;
    background-color: #1F2833;
    position: sticky;
  }
  
  #PageHead{
    
    width: 100%;
    height: 20vw;
    background-color: #1F2833;
    position: sticky;
  }

  .MenuHolder{
    list-style-type: none;
    display: inline-block;
    background: #7DFEF0;
    color: black;
    margin: 5px;
    height: 8vw;
    width: 25vw;
    padding: 5px;
    border-radius: 4px;
    transition-property: transform, background, border-radius;
    transition-duration: .3s;
  }

  .MenuHolder:hover{
    background: #4a7387;
    border-radius: 8px;
  }
  
  .Menu{
    text-decoration: none;
    display: inline-block;
    color: black;
    font: Arial;
    font-weight: bold;
    font-size: 3vw;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-property: transform;
    transition-duration: 1s;
  }
  
  #content{
    height: 50vw;
    width: 100vw;
    font-weight: bold;
    font-size: 3vw;
    position: relative;
    animation-name: content;
    animation-duration: 2s;
    top: 5vw;
    padding-bottom: 10vw;
    animation-fill-mode: forwards;
    background-color: #1F2833;
    border-radius: 15px 50px;
    color: #B5B9BB;
    filter: opacity(0.98);
    padding: 30px 30px;
    overflow-y: hidden;
  }
  
  .btn{
    position: relative;
    top: 35vw;
    font-size: 10vw;
    font-weight: bold;
    display: inline-block;
    color: #B5B9BB;
    padding: 1vw, 2vw;
    border: #B5B9BB 2px solid;
    border-radius: 1vw;
    width: 70vw;
    animation-name: btn;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    transition-property: transform;
    transition-duration: 0.75s;
  }

}
